:root {
  position: relative;
  line-height: 1.5;
  font-weight: 300;
  background-color: var(--white-color);
  
  --blue-color : #458FF6;
  --page-name-color: #233348;
  --grey-color: #7D7987;
  --active-navigation-color:  #1F1534;
  --black-color: #000000;
  --white-color: #ffffff;
  --gradient-color1: #67C3F3;
  --gradient-color2: #5A98F2;  
  --light-blue-color:#dceafc;
  --shadow-color: #e5e9f666;
}

body  {
  width: 100%;
}

 a:hover { 
  cursor: pointer;
  color: var(--active-navigation-color);
}

a:active  { 
  color: var(--active-navigation-color); 
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  margin-top: 4.5%;
  border-radius: 50px;
  border-color: var(--blue-color);
  padding: 0.6em 0.6em;
  font-size: 1em;
  font-weight: 700;
  cursor: pointer;
  width: 200px;
  height: 60px;
  font-size: 18px;
}

button:hover {
  border-color: var(--grey-color);
}

button:hover div{
  color: var(--grey-color);

}
button div  {
  color: var(--blue-color)
}